body > #root > div {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  font-family: 'Noto Sans KR', sans-serif!important;
  background-image: url('/images/background.jpg');
}

@media screen and (min-width:320px){
  body {
    background-size: 300% cover;
    background-position: 45% 20%;
  }
}

@media screen and (min-width:768px){
  body {
    background-size: cover;
    background-position: center;
  }
}